@charset "utf-8";

@media (width>=1200px) {
  /* html {
    font-size: 14px;
  } */
  body {
    font-size: 1.4rem;
    font-weight: 700;
  }
  nav .global-nav {
    flex-wrap: nowrap;
    justify-content: center;
  }
  nav .global-nav li {
    max-width: 200px;
  }
  nav .global-nav li:hover {
    background-color: rosybrown;
  }
  nav a {
    border-bottom: none;
    border-right: 1px solid white;
    justify-content: center;
  }
  nav .global-nav li:last-child a {
    border-right: none;
  }
}
